appdirs>=1.4.4
audioread>=2.1.9
certifi>=2021.5.30
cffi>=1.14.6
charset-normalizer>=2.0.6
click>=8.0.1
colorama>=0.4.4
decorator>=5.1.0
idna>=3.2
importlib-metadata>=4.8.1
joblib>=1.0.1
keyring>=23.2.1
librosa>=0.8.1
llvmlite>=0.36.0
montreal-forced-aligner
numba>=0.54.0
numpy==1.20.3
onetimepass>=1.0.1
packaging>=21.0
pooch>=1.5.1
praatio>=4.4.0
pycparser>=2.20
pyparsing>=2.4.7
PyQt5>=5.15.4
PyQt5-Qt5>=5.15.2
PyQt5-sip>=12.9.0
pyqtgraph>=0.12.2
pywin32-ctypes>=0.2.0
PyYAML>=5.4.1
requests>=2.26.0
resampy>=0.2.2
scikit-learn>=0.24.2
scipy>=1.7.1
six>=1.16.0
sklearn>=0.0
SoundFile>=0.10.3.post1
TextGrid>=1.5
threadpoolctl>=2.2.0
tqdm>=4.62.3
urllib3>=1.26.6
zipp>=3.5.0
pandas~=1.2.1